---
const skills = "JS Python";
import { Image } from 'astro:assets'
import pythonImage from "../Images/python.png"
import JSImage from "../Images/javascript.png"
---

<h1>{skills}</h1>
<Image src={pythonImage} alt="Python icon" />
<Image src={JSImage} alt="JS icon" />
